.super-mario {
    width: 200px;
    position: absolute;
    bottom: 230px;
  }
  
  .goomba {
    width: 150px;
    position: absolute;
    bottom: 10px;

  }
  
  .baloon {
    position: absolute;
    left: 400px;
    z-index: 1;
    
    }
  
  .speach {
    position: absolute;
    font-size: 25px;
    left: 420px;
    top: 125px;
    z-index: 2;
  }
  
  .bowser {
    position: absolute;
    width: 200px;
    top: 250px;
    right: 500px;
  }